<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ProjectDatabase"
			 connectionString="server=sql7.freesqldatabase.com;port=3306;database=sql7765229;user=sql7765229;password=EDsaiSdGrz" />		
	</connectionStrings>
</configuration>